*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}

body{
   
    background-color: #F1f5f8;
}

li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    margin: 1rem;
    
}

a:hover{
    color:rgb(236, 55, 85);
}


.nav-center{
    display: flex;
    justify-content: space-around;
    letter-spacing: 3px;
    padding: 15px;
    font-size: 20px;
    background-color: white;
    
}

h4{
    color: rgb(85, 211, 211);
}

.nav-links{
    display: flex;   
}

.container{
    text-align: center;
}
main{
   min-height:90vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

h2{
    background-color: black;
    color: white;
    line-height: 1.25;
    padding: 1rem;
    margin-bottom: 0.75rem;
    border-radius: 8px;
    letter-spacing: 2px;
    
}


.btn{
    width: 90px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: transparent;
}

.btn:hover{
    text-transform: capitalize;
    color: white;
    background-color: black;
}


